# Python & general
*.patch
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.build/
.venv/
.env
*.patch
/out/
*snapshot*.txt
state/
*.egg-info


# Editor/OS
.DS_Store
.vscode/
.idea/
*~
*.swp

# Cursor
.cursorignore

node_modules/
*.log
*.env
build/
dist/

# Custom files
ideas.txt
